---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    commit-message:
      prefix: ":dependabot: github-actions"
      include: "scope"
    labels:
      - "dependabot"
      - "github-actions"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    commit-message:
      prefix: ":dependabot: devcontainers"
      include: "scope"
    labels:
      - "dependabot"
      - "devcontainers"
